/*
    Variables
*/
$green: green;
$grey: grey;
$red: red;

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    background-size: cover;
}